<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        cacheDirectory="cache/phpunit/"
        requireCoverageMetadata="true">

  <coverage>
    <report>
      <clover outputFile="tests-results/phpunit/clover.xml"/>
      <html outputDirectory="tests-results/phpunit/coverage-html"/>
      <xml outputDirectory="tests-results/phpunit/coverage-xml"/>
    </report>
  </coverage>

  <logging>
    <junit outputFile="tests-results/phpunit/junit.xml"/>
  </logging>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/*/Exception</directory>
    </exclude>
  </source>

  <testsuites>
    <testsuite name="assertion">
      <directory>tests/Assertion</directory>
    </testsuite>
    <testsuite name="check">
      <directory>tests/Check</directory>
    </testsuite>
    <testsuite name="collection">
      <directory>tests/Collection</directory>
    </testsuite>
    <testsuite name="comparator">
      <directory>tests/Comparator</directory>
    </testsuite>
    <testsuite name="container">
      <directory>tests/Container</directory>
    </testsuite>
    <testsuite name="dispatcher">
      <directory>tests/Dispatcher</directory>
    </testsuite>
    <testsuite name="equality">
      <directory>tests/Equality</directory>
    </testsuite>
    <testsuite name="float">
      <directory>tests/Float</directory>
    </testsuite>
    <testsuite name="type">
      <directory>tests/Type</directory>
    </testsuite>
    <testsuite name="core">
      <directory>tests/Core</directory>
    </testsuite>
  </testsuites>

</phpunit>
